@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #0f0e17;
}

body,
input,
button {
	font-family: Roboto, sans-serif;
	font-size: 14px;
}

#root {
	max-width: 1020px;
	margin: 0 auto;
	padding: 0 20px 50px;
}
